@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Heebo&family=Merriweather&display=swap');

:root {
    --pimary-color: #0051FF;
}

*{
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
}

header h2 {
    font-size: 2em;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

header nav ul {
    display: flex;
    padding: 0;
}

header nav ul li {
    padding: 5px;
    margin-left: 15px;
    list-style: none;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}

header nav ul li:hover {
    transform: scale(1.1);
}


/* HERO */
.hero {
    margin-top: 100px;
    height: 90vh;
}

/* PORTFOLIO */

.portfolio {
    height: 100vh;
}

.project img {
    width: 1000px;
}

/* ABOUT */

.about {
    height: 100vh;
}

/* CONTACT ME */

.contact {
    height: 100vh;
}

/* font-family: 'Fredoka One', cursive;

font-family: 'Heebo', sans-serif;

font-family: 'Merriweather', serif; */